name: Unit tests

on:
  pull_request:
    branches:
      - main

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Garantir que o repositório seja clonado completamente

      - name: Install pre-requisites
        run: sudo apt-get update && sudo apt-get install libsqlite3-dev

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin  # Instala o cargo-tarpaulin para gerar o relatório de cobertura

      - name: Run tests with coverage
        run: cargo tarpaulin --out Html # Executa os testes e gera o relatório no formato html

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ./tarpaulin-report.html # optional
          flags: unittests # optional
          name: codecov-umbrella # optional
          verbose: true # optional (default = false)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            
      - name: Run the tests
        run: cargo test -- --test-threads=8
